<h3>Calendrier [Cases]</h3>
<div class="grid grid-pad">
    <a *ngFor="let day of days" class="col-1-4" [class.selected]="day === selectedDay" (click)="onSelect(day)">
        <div class="module day">
            <h4>{{day.name}} : </h4>
            {{day.info}}
        </div>
    </a>
</div>
<app-day-detail [day]="selectedDay"></app-day-detail>