a {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    background-color: #3f525c;
    border-radius: 2px;
    text-decoration: none;
    margin-bottom: 10px;
    margin-right: 10px;
}
a:hover {
    color: #3f525c;
    background-color: #eee;
    left: .1em;
}
.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flexcolumn {
    display: flex;
    flex-direction: column;
}
.description {
    margin: 10px !important;
    text-align: justify;
}