<h1>{{title}}</h1>
<nav class="flexcolumn">
    <div class="flexrow">
        <a routerLink="/calendar">Calendrier [Liste]</a>
        <a routerLink="/dashboard">Calendrier [Cases]</a>
    </div>
    <div class="flexrow">
        <a routerLink="/week/1">Semaine 1</a>
        <a routerLink="/week/2">Semaine 2</a>
        <a routerLink="/week/3">Semaine 3</a>
        <a routerLink="/week/4">Semaine 4</a>
    </div>
</nav>
<div class="description">
    {{description}}
</div>

<router-outlet></router-outlet>