<h3>Calendrier [Liste]</h3>
<ul class="days">
    <li *ngFor="let day of days" [class.selected]="day === selectedDay" (click)="onSelect(day)">
        <span class="badge">{{day.id}}</span> {{day.name}}
        {{day.info}}
    </li>
</ul>

<app-day-detail [day]="selectedDay"></app-day-detail>