/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto' !important;
    font-weight: 300 !important;
    background-color: #D2DDE3;
}

h1, h2, h3 {
    color:#3f525c;
    text-align: center;
    margin: 35px 0px;
}